name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - uses: aarnott/nbgv@master
    - name: display gitversion
      run: echo "NBGV_SemVer2 $NBGV_SemVer2"
